@font-face {
    font-family: DancingScript-Regular;
    src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
    font-family: OleoScript-Regular;
    src: url("../fonts/OleoScript-Regular.ttf");
}

@font-face {
    font-family: Courgette-Regular;
    src: url("../fonts//Courgette-Regular.ttf")
}

body {
    font-family: DancingScript-Regular;
}

footer i a {
    font-family: DancingScript-Regular;
}

#price-notice {
    font-weight: bold;
}