@font-face {
    font-family: DancingScript-Regular;
    src: url("../fonts/DancingScript-Regular.ttf");
}

@font-face {
    font-family: OleoScript-Regular;
    src: url("../fonts/OleoScript-Regular.ttf");
}

body {
    font-family: OleoScript-Regular;
}