footer {
    width: 100%;
    background-color: black;
}

footer p {
    margin: 0;
}

footer a {
    line-height: normal;
}

.fas {
    line-height: 1.3;
}

.container-footer {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    padding: 4vh 0;
}

.container-footer-left {
    display: flex;
    flex-direction: column;
    color: lightgrey;
    line-height: 1.3;
    font-size: 1.5vw;
}

@media (max-width: 800px) {
    .container-footer {
        flex-direction: column;
    }

    .container-footer-left {
        margin: auto;
        font-size: 4.5vw;
    }
}
