html,
body,
h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    color: rgb(255, 255, 255);
    text-shadow: black 2px 2px 5px;
}

.container-prices {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    font-weight: 900;
}

.container-landing-header {
    text-align: center;
    margin: auto;
}

table {
    text-align: left;
    line-height: 1.5;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
}

td:last-child {
    width: 4 vw;
}

th {
    font-size: 4vh;
}

td {
    font-size: 3vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15vh;
}

.container::before {
    content: "";
    z-index: -1;
    position: fixed;
    height: 100%;
    opacity: 0.9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    background-image: url(../../images/edoardo-busti-XrSWrAhskuY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap {
    display: inline-block;
    position: relative;
    padding-bottom: 8vw;
}

.wrap img + .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content h1 {
    margin-left: 18vw;
    margin-top: 8vw;
}

.container-hero {
    align-self: flex-start;
    width: 100%;
    height: 90vh;
    display: flex;
    background-image: url("../../images/greg-trowman-k7AvgINPgdg-unsplash.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.container-hero-title {
    display: block;
    /* text-align: center; */
    margin-left: 12vw;
    margin-top: 14vh;
}

.container-article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-top: -4vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 2vh;
}

.container-article-info {
    margin-top: 2vw;
    display: block;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: center;
    text-align: center;
    padding: 4vh;
}

.container-article-map {
    margin-top: 2vw;
    align-self: center;
    margin-bottom: 2vw;
}

iframe {
    width: 45vw;
    height: 25vw;
}

h1 {
    font-size: 10vh;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
}

h4 {
    font-size: 2vw;
}

button {
    border: 0;
    background-color: #f60003;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 60px;
    outline: none;
    cursor: pointer;
    color: white;
    width: 8rem;
    align-self: center;
    margin-top: 2vh;
}

.links {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.top-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
}

button:active {
    transform: translateY(2px);
}

.fab {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

@media (max-width: 800px) {
    h1 {
        font-size: 8vh;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 6vw;
    }

    h4 {
        font-size: 4vw;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    .container {
        margin-bottom: 15vh;
    }

    .container-article {
        flex-direction: column;
        margin-top: -20vh;
        width: 100%;
    }

    .container-article-info {
        margin-top: 0;
        width: 100%;
        padding: 0;
        padding-top: 2vh;
        padding-bottom: 2vh;
        align-self: center;
    }

    .container-prices {
        flex-direction: column;
        max-width: 400px;
    }

    table {
        width: 82%;
    }

    td:last-child {
        width: 13vw;
    }
}

g {
    fill: white;
    transition: 400ms;
}
