html, body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-centered {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    font-size: 2.6rem;
}
.bottom-centered {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
}