html,
body,
h1,
h2,
h3,
h4,
p {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

body {
    background-color: #dfe3e4;
}

h1,
h2,
h3,
h4,
p {
    color: rgb(255, 255, 255);
    text-shadow: black 2px 2px 5px;
}

iframe {
    width: 45vw;
    max-width: 500px;
    height: 25vw;
}

h1 {
    font-size: 10vw;
}

h2 {
    font-size: 4vw;
}

h3 {
    font-size: 3vw;
}

h4 {
    font-size: 2vw;
}

button {
    border: 0;
    background-color: #f60003;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 60px;
    outline: none;
    cursor: pointer;
    color: white;
    width: 8rem;
    align-self: center;
    margin-top: 2vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
}

.wrap {
    display: inline-block;
    position: relative;
    padding-bottom: 8vw;
}

.wrap img + .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content h1 {
    margin-left: 18vw;
    margin-top: 8vw;
}

.container-hero {
    align-self: flex-start;
    width: 100%;
    height: 90vh;
    display: flex;
    background-image: url("../../images/greg-trowman-k7AvgINPgdg-unsplash.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
}

.container-hero-title {
    display: block;
    margin-left: 12vw;
    margin-top: 14vh;
}

.container-article {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 2vw;
    margin-top: -4vh;
    z-index: 1;
    padding-bottom: 2vh;
    max-width: 900px;
}

.container-article-info {
    display: block;
    min-width: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    align-self: center;
    text-align: center;
    padding: 3vh;
}

.container-article-map {
    margin-top: 2vw;
    align-self: center;
    margin-bottom: 2vw;
}

.links {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.container-book-link {
    margin: 2vh 0;
}

.book-appointment {
    background-color: red;
    border-style: none;
    padding: 1vh 2vh;
    color: white;
    border-radius: 30px;
    text-decoration: none;
    font-size: 3vh;
    transition: 0.3s ease-in-out;
}

.book-appointment:hover {
    color: lightgrey;
    transition: 0.3s ease-in-out;
}

.top-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 22%;
    left: 0;
    right: 0;
    text-align: center;
    justify-content: center;
}

.bottom-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    text-align: center;
}

button:active {
    transform: translateY(2px);
}

.fab {
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

@media (max-width: 800px) {
    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 6vw;
    }

    h4 {
        font-size: 4vw;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    .container-article {
        flex-direction: column;
        margin-top: -20vh;
        width: 100%;
    }

    .container-article-info {
        margin-top: 0;
        width: 100%;
        padding: 0;
        padding-top: 2vh;
        padding-bottom: 2vh;
        align-self: center;
        min-width: 0;
    }
}

#scissor {
    transform: rotate(-157deg);
    margin-left: -6vw;
    margin-bottom: -8.6vw;
    height: 13vw;
    width: 13vw;
    
}

/* svg {
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 1));
} */