@font-face {
  font-family: DancingScript-Regular;
  src: url("./DancingScript-Regular.ttf");
}

html,
body,
h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

body {
  background-color: #dfe3e4;
  font-family: DancingScript-Regular;
}

h1,
h2,
h3,
h4,
p {
	color: rgb(255, 255, 255);
	text-shadow: black 2px 2px 5px;
}

iframe {
	width: 45vw;
	max-width: 500px;
	height: 25vw;
}

.lightwidget-widget {
	width: 100%;
	max-width: 100%;
}

h1 {
	font-size: 10vw;
}

h2 {
	font-size: 4vw;
}

h3 {
	font-size: 3vw;
}

h4 {
	font-size: 2vw;
}

button {
	border: 0;
	background-color: #f60003;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	border-radius: 60px;
	outline: none;
	cursor: pointer;
	color: white;
	width: 8rem;
	align-self: center;
	margin-top: 2vh;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
}

.wrap {
	display: inline-block;
	position: relative;
	padding-bottom: 8vw;
}

.wrap img + .content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.content h1 {
	margin-left: 18vw;
	margin-top: 8vw;
}

.container-hero {
	align-self: flex-start;
	width: 100%;
	height: 90vh;
	display: flex;
	background-image: url('./greg-trowman-k7AvgINPgdg-unsplash.jpg');
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: cover;
}

.container-hero-title {
	display: block;
	margin-left: 12vw;
	margin-top: 14vh;
}

.container-article {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	gap: 2vw;
	margin-top: -4vh;
	z-index: 1;
	padding-bottom: 2vh;
	max-width: 900px;
}

.container-article-info {
	display: block;
	min-width: 400px;
	background-color: rgba(0, 0, 0, 0.6);
	align-self: center;
	text-align: center;
	padding: 3vh;
}

.container-article-map {
	margin-top: 2vw;
	align-self: center;
	margin-bottom: 2vw;
}

.links {
	display: flex;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.container-book-link {
	margin: 2vh 0;
}

.book-appointment {
	background-color: red;
	border-style: none;
	padding: 1vh 2vh;
	color: white;
	border-radius: 30px;
	text-decoration: none;
	font-size: 3vh;
	transition: 0.3s ease-in-out;
}

.book-appointment:hover {
	color: lightgrey;
	transition: 0.3s ease-in-out;
}

.top-text {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 22%;
	left: 0;
	right: 0;
	text-align: center;
	justify-content: center;
}

.bottom-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	bottom: 10%;
	left: 0;
	right: 0;
	text-align: center;
}

button:active {
	transform: translateY(2px);
}

.fab {
	color: white;
	font-size: 2rem;
	text-decoration: none;
}

.instagram {
	display: flex;
	width: 100%;
	gap: 10px;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	flex-direction: row;
}

.instagram a {
	width: 15%;
	min-width: 150px;
}

.instagram img {
	width: 100%;
}

@media (max-width: 800px) {
	h1 {
		font-size: 15vw;
	}

	h2 {
		font-size: 8vw;
	}

	h3 {
		font-size: 6vw;
	}

	h4 {
		font-size: 4vw;
	}

	iframe {
		width: 100%;
		height: auto;
	}

	.container-article {
		flex-direction: column;
		margin-top: -20vh;
		width: 100%;
	}

	.container-article-info {
		margin-top: 0;
		width: 100%;
		padding: 0;
		padding-top: 2vh;
		padding-bottom: 2vh;
		align-self: center;
		min-width: 0;
	}
}

#scissor {
	transform: rotate(-157deg);
	margin-left: -6vw;
	margin-bottom: -8.6vw;
	height: 13vw;
	width: 13vw;
}

/* CSS for NavBar */

nav {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  width: 100%;
  height: auto;
  line-height: 2.5;
  font-size: 3vh;
  position: fixed;
  top: 0;
  z-index: 7;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

nav .container-nav {
  display: flex;
  justify-content: center;
  flex: row;
  margin-left: auto;
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
}

nav .left-nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: left;
  justify-items: left;
  margin-left: 2em;
  transition: 0.3s;
}

#scissor-nav {
  transform: rotate(-157deg);
  margin-left: -1vh;
  margin-bottom: -2vh;
  height: 3vh;
  width: 3vh;
  transition: 0.3s;
}

#scissor-nav:hover {
  transition: 0.3s;
  fill: white;
}

nav .left-nav span {
  display: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

nav .right-nav {
  display: flex;
  justify-content: right;
  margin-left: auto;
  position: right;
  gap: 1vw;
}

nav .right-nav ul:last-child {
  margin-right: 2vh;
}

nav .side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 4em;
  transition: 0.5s;
  box-shadow: 10px 0px 150px black;
  -webkit-tap-highlight-color: transparent;
}

nav .side-nav a {
  font-size: 3vh;
}

nav .side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 45px;
  margin-left: 50px;
}

nav .side-nav ul {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

nav a {
  color: white;
  text-decoration: none;
  transition: 400ms;
}

nav a.active {
  color: white;
}

nav a:hover {
  color: white;
  transition: 400ms;
}

nav a:hover g {
  fill: white;
  transition: 400ms;
}

nav .right-nav button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: large;
  transition: 400ms;
  height: auto;
}

nav .right-nav button:hover {
  color: white;
  transition: 400ms;
}

nav .right-nav .lang-dropdown:hover .lang-content {
  display: block;
}

.lang-content {
  display: none;
  position: fixed;
  background-color: black;
  box-shadow: 0px 0px 3px black;
  z-index: 1;
  padding-left: 0.4em;
  padding-right: 0.5em;
}

.lang-content:hover {
  display: block;
}

.lang-content a {
  float: none;
  color: grey;
  display: block;
  text-align: left;
  transition: 400ms;
}

.lang-content a:hover {
  color: white;
  transition: 400ms;
}

@media (max-width: 800px) {
  nav {
      font-size: x-large;
  }

  nav .container-nav {
      justify-content: flex-start;
  }

  nav .left-nav {
      margin-left: 1em;
  }

  nav .right-nav {
      display: none;
  }

  nav .left-nav span {
      display: flex;
  }

  nav .left-nav #nav-icon {
      display: block;
  }
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2vh;
}

#nav-icon {
  display: none;
  width: 60px;
  height: 45px;
  position: relative;
  margin-top: 7px;
  z-index: 10;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  transform: scale(0.7);
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

.nav-appointment {
  padding: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

/* Light mode */
/* @media (prefers-color-scheme: light) {
  nav {
      background-color: rgb(235, 235, 235);
      color: black;
  }

  nav a.active {
      color: rgb(49, 47, 47);
  }

  nav a:hover {
      color: black;
  }
} */

/* Dark mode */
/* @media (prefers-color-scheme: dark) {
  nav {
      background-color: black;
      color: white;
  }
} */
